h1, p{
  text-align: center;
}

body{
  background-color: tan;
  padding: 1em

}

label{
  display: block;
  text-align:left;
  /* margin-bottom:2px; */
  padding: 0.5em 0 0.5em 0;
}

select{
  width: 98%;
  height: 5em;
}

input{
  width: 98%;
  margin: 0 auto;
  padding: 0.5em 0 0.5em 0;
}

input[type="radio"], input[type="checkbox"]{
  width: unset;
}

textarea {
  width: 98%;
  height: 4em;
  margin-bottom:5px;
}

